:root {
    --primary-color: #228b22;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --description-color: rgb(16, 16, 16, 0.6);

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

/* Button */
.btn--m {
    --height: 55px;
    font-size: 1.4rem;
    min-width: 190px;
    min-height: var(--height);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    display: block; 
    line-height: var(--height);
    text-align: center;
}

.btn--s {
    --diameter: 54px;
    font-size: 1.4rem;
    width: var(--diameter);
    height: var(--diameter);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: all linear 0.15s;
}

/* Animation */

.autoDisplay {
    animation: autoDisplayAnimation both;
    animation-timeline: view();
    animation-range: entry 0% cover 80%;
}

@keyframes autoDisplayAnimation{
    from {
        filter: blur(8px);
        transform: translateY(-170px) scale(0.2);
    } 50%{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) scale(1);
    }
}

@keyframes sweep {
    from {
        width: 0;
    } to {
        width: 72%;
    }
}

/* margin */
.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-108 {
    margin-top: 108px !important;
}
