.footer {
    background-color: #f8f8f8;
}

.footer-container {
    padding: 54px 0;
    text-transform: capitalize;
}

.footer__logo-with-link {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__logo {
    width: 220px;
    margin-left: -14px;
}

.footer__logo-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--description-color);    
    width: 190px;
}

.footer__social-media {
    display: flex;
    gap: 16px;
}

.footer__social-media__logo {
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer__social-media__logo i {
    font-size: 1.6rem;
    color: var(--black-color);
}

.footer__content {

}

.footer__content-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer__content-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33.333%;
}

.footer__content-item__heading {
    font-size: 2rem;
    margin-bottom: 24px;
}

.footer__content-item__title {
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    transition: all linear 0.12s;
    align-self: flex-start;
}

.footer__content-item__title:hover {
    color: var(--primary-color);
    margin-left: 6px;
}

.footer__content-decription {
    margin-top: 42px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.footer__content-decription__like {
    margin-left: 12px;
    color: var(--white-color);
    background-color: #0866ff;
    padding: 4px 12px;
}

.footer__content-decription__like-icon {

}



