.wrapper {
    background-color: #ecf0f5;
    height: 100vh;
    display: flex;
    position: relative;
}

.logo {
    width: 280px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.logo-link {
    text-decoration: none;
}

.modal {
    display: flex;
    align-self: center;
    margin: auto;
    width: 860px;
    background-color: #fff;
    padding: 32px;
    border-radius: 12px;
}

.img-section {
    width: 50%;
    border-radius: 20px;
    user-select: none;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.content__heading {
    font-size: 3rem;
    margin: 18px 0 54px 0;
    color: var(--text-color);
}

.content__input-wrapper {
    position: relative;
    height: 52px;
    width: 284px;
    margin-bottom: 18px;
}

.content__input-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    z-index: 2;
    font-size: 1.3rem;
    color: #757575;
    transition: all 0.25s ease;
    user-select: none;
    cursor: text;
}

.error-message {
    display: none;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 2px;
    color: red;
}

.errorPassword-message {
    display: none;
    position: relative;
    top: 2px;
    right: 10px;
    color: red;
    font-size: 11px;
}

.content__input {
}

.content__input,
.content__input-password {
    height: 52px;
    width: 284px;
    border-radius: 32px;
    padding: 0 18px;
    font-size: 1.3rem;
    outline: none;
    border: 2px solid var(--border-color);
    position: relative;
}

.content__input-password {
    margin-top: -2px;
    margin-left: -20px;
}

.content__input-tooggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
}

.content__input-tooggle-password-icon {

}

.content__input:focus, 
.content__input-password:focus {
    border-color: var(--primary-color);
}

.content__input-password:focus + .content__input-label,
.content__input-password:not(:placeholder-shown) + .content__input-label,
.content__input:focus + .content__input-label,
.content__input:not(:placeholder-shown) + .content__input-label {
    transform: translateY(-33px);
    font-size: 1.1rem;
    color: var(--primary-color); /* Màu của label khi focus */
    background-color: var(--white-color);
    padding: 0 4px;
    border-radius: 12px;
}

.content__submit {
    height: 52px;
    width: 284px;
    background-color: var(--primary-color);
    border-radius: 32px;
    border: none;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 14px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.85;
}

.content__description {
    font-size: 1.4rem;
}

.content__link {
    color: var(--primary-color);
}

.content__link:hover {
    opacity: 0.8;
}

.order-line {
    margin-top: 40px;
    margin-bottom: 38px;
    width: 280px;
    position: relative;
}

.order-line::before {
    content: "HOẶC";
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: var(--white-color);
    padding: 0 9px;
    display: block;
}

.content__with-google {
    height: 52px;
    width: 284px;
    background-color: var(--white-color);
    border-radius: 38px;
    border: 2px solid var(--border-color);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}



